/node_modules
/public/storage
/public/uploads/img
/public/uploads/dokumenter
/public/uploads/assignments
/public/uploads/kontrakter/signert
/public/uploads/arbeidsbeskrivelse
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
