// Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Boots the theme
@import "variables";

// All other modules
@import "modules";

$black: #0a0a0a;
$white:	#fff;
$danger: $brand-danger;

// Select2 Overrides
.select2-container--default, .select2-selection--multiple {
    border-radius: $border-radius-base !important;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    overflow-y: scroll;
}

/* Helpers */
.p-a-s {padding: 10px !important}
.p-t-s {padding-top: 10px !important}
.p-r-s {padding-right: 10px !important}
.p-b-s {padding-bottom: 10px !important}
.p-l-s {padding-left: 10px !important}

.p-a-xs {padding: 5px !important}
.p-t-xs {padding-top: 5px !important}
.p-r-xs {padding-right: 5px !important}
.p-b-xs {padding-bottom: 5px !important}
.p-l-xs {padding-left: 5px !important}

.m-a-s {margin: 10px !important}
.m-t-s {margin-top: 10px !important}
.m-r-s {margin-right: 10px !important}
.m-b-s {margin-bottom: 10px !important}
.m-l-s {margin-left: 10px !important}

.m-a-xs {margin: 5px !important}
.m-t-xs {margin-top: 5px !important}
.m-r-xs {margin-right: 5px !important}
.m-b-xs {margin-bottom: 5px !important}
.m-l-xs {margin-left: 5px !important}

.white-color {
    color: white;
}

.is-fullwidth {
    width: 100%;
}

.a-no-dec:hover {
    text-decoration: none;
}

.cursor {
  cursor: pointer;
}

.panel-hover, .panel-hover-info, .panel-hover-success {
    transition: .3s;
}

.panel-hover:hover {
    transition: .5s;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 2px rgba(10, 10, 10, 0.1);
}

.panel-hover-info:hover {
    transition: .5s;
    box-shadow: 0 2px 3px rgba(217, 237, 247, 1), 0 0 0 2px rgba(217, 237, 247, 1);
}

.panel-hover-success:hover {
    transition: .5s;
    box-shadow: 0 2px 3px rgba(223, 240, 216, 1), 0 0 0 2px rgba(223, 240, 216, 1);
}

.mar-bot {
  margin-bottom: 15px
}

.help {
    font-weight: 400;
    font-size: 14px;
}

.is-danger {
    color: $danger;
}

/* Bootstrap additions */
.jumbotron-marless {
    margin-bottom: 0
} 

/* Innboks */
.add-user-icon {
    font-size: 2.6em !important;
    position: relative;
    bottom: 2px;
}

/* bruker */
@media (max-width: 992px) {     
    .media-list-users {
        padding-right: 0;
    }
}

.sort-icons span {
    color: $black;
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
}

.sort-icons .active {
    opacity: 1 !important;
}

.social_icons {
    color: $gray-lighter;
    &:hover {
        color: $white;
    }
}

.sort-field {
    line-height: 30px;

    .seperator {
        bottom: 1px;
    }

    .sort-icons {
        top: 1px;
    }
}

@media (max-width: 768px) { 
    #sort-view {
        p {
            float: left;
            margin-bottom: 0;
        }
        .sort-icons {
            float: none !important;
        }
    }

    #sort-category-floater {
        float: right;
    }

    #sort-category {
        .seperator {
            display: none;
        }

        #sort-category-text {
            float: none !important;
        }

        select {
            float: none !important;
        }
    }
}

/* redigerBruker */
.list-items-border {
    li {
        border-bottom: 1px solid $gray-light;
        padding-bottom: 15px;
    }
    li:last-child {
        border-bottom: 0;
    }
}

#nyttProfilbilde {
    width: 100%;
    right: 0;
    bottom: 35px;
    cursor: default;
}
#nyttProfilbilde {
    color: $black;
    cursor: pointer;
}

.imgBtn {
    background: $white;
    padding: 0 5px 0 5px;
    border: 1px solid black
}

.media-heading small, .media-heading h4 {
    margin-top: 0;
}

.media-object {
    padding: 5px 0 0 0 !important;
    margin-right: 0px !important;
}

/* nav */
.navbar {
    z-index: 999;
}

.navbar-default{
    border-radius: 0;
    margin-bottom: 0
}

.app-notifications {
    padding: 10px 20px 10px 12px !important;
}

.app-notifications span {
    font-size: 1.7em;
}
/* end nav */

.wrap {
    word-wrap: break-word
}

.mar-right {
    margin-right: 10px;
}

.mar-right.x2 {
    margin-right: 20px;
}

.mar-right.x3 {
    margin-right: 30px;
}

.pad-right {
    padding-right: 10px;
}

.pad-right.x2 {
    padding-right: 20px;
}

.arrow-down {
    color: #ffffff;
}

/* hjem.blade.php */
#bedriftsamarbeid {
    background: #c6eafa;
}

#index-student-box, #index-faglarer-box, #index-bedrift-box {
    padding-top: 145px;
    padding-bottom: 145px;
    background: url("../img/registrer-bruker-bg.jpg") center center;
}

.bedriftsamarbeid-btn {
    background-color: transparent;
    border-color: #62b3fe !important;
    border-width: 1px;
    color: black;
}

.bedriftsamarbeid-btn:focus, .bedriftsamarbeid-btn:hover {
    background-color: #62b3fe !important;
    border-color: #62b3fe !important;
    color: white !important;
}

#bedriftsamarbeid h1, #studentsamarbeid h1 {
    font-weight: 400;
}

#studentsamarbeid {
    background: #62b4ff;
}
#studentsamarbeid h1, #studentsamarbeid p {
    color: white;
}

.studentsamarbeid-btn {
    background-color: transparent;
    border-color: #c5e9f9;
    border-width: 1px;
    color: white;
}

.studentsamarbeid-btn:focus, .studentsamarbeid-btn:hover {
    background-color: #C5E9F9 !important;
    border-color: #C5E9F9 !important;
    color: black !important;
}

#rakettfart {
    background: #6180cb;
}

#rakettfart .hero-body {
    padding-bottom: 90px !important;
}

#rakettfart h1{
    color: white;
}

.rakettfart-btn {
    background-color: transparent;
    border-color: #62b3fe !important;
    border-width: 1px;
    color: white;
}

.rakettfart-btn:focus, .rakettfart-btn:hover {
    background-color: #62b3fe !important;
    border-color: #62b3fe !important;
    color: black !important;
}

.opprettTitle {
    font-weight: 400;
    margin-bottom: 0 !important;
}

#registrer {
    background: url("../img/registrer-bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #e5e7e4;
    min-height: 550px;
    padding: 0 0 0 0;
}

#index-hvemerdu {
    padding-top: 90px;
}

.registrer-container {
    padding: 0 0 0 0;
}

.hvemErDuStudent {
    background: #2696BF url("../img/icons/hveemErDuIcons_01.png") no-repeat;
    background-size: 150px 150px;
    box-shadow: 0 2px 3px rgb(38, 150, 191), 0 0 0 3px rgb(38, 141, 182);
    transition: .2s;
}

.hvemErDuBedrift {
    background: #F05F40 url("../img/icons/hveemErDuIcons_02.png") no-repeat;
    background-size: 150px 150px;
    box-shadow: 0 2px 3px rgb(204, 110, 77), 0 0 0 3px rgb(198, 103, 79);
    transition: .2s;
}

.hvemErDuLarer {
    background: #2696bf url("../img/icons/hveemErDuIcons_03.png") no-repeat;
    background-size: 150px 150px;
    box-shadow: 0 2px 3px rgb(38, 150, 191), 0 0 0 3px rgb(38, 136, 177);
    transition: .2s;
}

.image-is-circle {
    border-radius: 100%;
    width: 150px;
    height:150px;
}

.komiGang_01 {
    background: #2696bf url("../img/icons/komiGang_01.png") no-repeat;
    background-size: 150px 150px;
    box-shadow: 0 2px 3px rgb(38, 150, 191), 0 0 0 3px rgb(38, 136, 177);
    transition: .2s;
}

.komiGang_02_student {
    background: #2696bf url("../img/icons/komiGang_02_student.png") no-repeat;
    background-size: 150px 150px;
    box-shadow: 0 2px 3px rgb(38, 150, 191), 0 0 0 3px rgb(38, 136, 177);
    transition: .2s;
}

.komiGang_02_bedrift {
    background: #2696bf url("../img/icons/hveemErDuIcons_01.png") no-repeat;
    background-size: 150px 150px;
    box-shadow: 0 2px 3px rgb(38, 150, 191), 0 0 0 3px rgb(38, 136, 177);
    transition: .2s;
}

.komiGang_03 {
    background: #2696bf url("../img/icons/komiGang_03.png") no-repeat;
    background-size: 150px 150px;
    box-shadow: 0 2px 3px rgb(38, 150, 191), 0 0 0 3px rgb(38, 136, 177);
    transition: .2s;
}

.hvemErDuLarer, .hvemErDuBedrift, .hvemErDuStudent, .komiGang_01, .komiGang_02_student, .komiGang_03 {
    margin-bottom: 15px;
}

.hvemErDuLarer:hover, .hvemErDuBedrift:hover, .hvemErDuStudent:hover, .komiGang_01:hover, .komiGang_02_student:hover, .komiGang_03:hover {
    -webkit-filter: saturate(50%); /* Chrome, Safari, Opera */
    filter: saturate(2);
    transition: .2s;
}

.input-newstyle {
    background: none;
    outline: none;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #388bd1;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
    color: #000;
    box-shadow: none;
    border-radius: 0;
    z-index: 5;
}

.input-newstyle:focus {
    background-color: transparent;
}

.input-newstyle:hover {
    border-bottom: 1px solid #3db4ff;
}

.placeholder {
    position: absolute;
    font-size: 1.3em;
    margin-top: 15px;
    left: 15px;
    font-weight: 300;
    z-index: 1;
}



/* Header */
.textbox h3, .registrerBtn p {
    color: white;
}

/* Profil */
.profile-header {
    height: 380px;
}

/* Footer */
.bidragsytere, .samarbeidspartnere {
    text-decoration: none;
    border-bottom: 0 !important;
    margin: 0 15px 15px 0;
}

.bidragsytere img, .samarbeidspartnere img{
    width: 120px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(10);
    transition: .2s;
}

.bidragsytere img:hover, .samarbeidspartnere img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0);
    transition: .2s;
}


/* Don't touch below this line */
/* Bulma elements */
.hero-video {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    height: calc(100vh + 51px)
}

.hero-video video {
    left: 50%;
    min-height: calc(100vh - 51px);
    min-width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.hero-video.is-transparent {
    opacity: 0.3;
}

@media screen and (max-width: 768px) {
    .hero-video {
        display: none;
    }
}

.hero {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.hero.is-fullheight .hero-body {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.hero.is-fullheight .hero-body > .container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

@media screen and (min-width: 769px) {
  .hero.is-medium .hero-body {
    padding-bottom: 140px;
    padding-top: 140px;
  }
}

@media screen and (min-width: 769px) {
  .hero.is-large .hero-body {
    padding-bottom: 240px;
    padding-top: 240px;
  }
}

.hero.is-fullheight {
    /* screen height minus navbar height */
    min-height: calc(100vh - 51px);
}

.hero-body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 40px 20px;
    z-index: 1;
}

@media screen and (min-width: 1240px) {
  .hero-body {
    padding-left: 0;
    padding-right: 0;
  }
}

.hero.is-fullheight .hero-body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero.is-fullheight .hero-body > .container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.index-bedrift, .index-student, .index-faglarer {
  cursor: pointer;
}

.overlay {
    position   : absolute;
    width      : 100%;
    height     : 100vh;
    background : #000;
    opacity    : 0.6;
    filter     : alpha(opacity=60);
    z-index    : 5;
    display: none;
}

.video-overlay {
    position   : absolute;
    min-height: 100vh;
    width      : 100%;
    background : #000;
    opacity    : 0.6;
    filter     : alpha(opacity=60);
    z-index    : 5;
    display: none;
}

/* Logg Inn Modal */ 
#loggInnModal .modal-content {
    border-radius: 2px;
}

#loggInnModal .modal-header, #loggInnModal .modal-footer {
    background: #F5F5F5;
}